@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

body{
    background-color:#6C9BCF;;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 54px;
}

/* INDEX */
/* HEADER */
/* NAV */


nav .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 28px;
    margin: 10px;
}

/* MAIN */
/* SECTION */
.textoempresa{
    color: white;
}

.h1{
    color: white;
}

/* SECTION 2 INDEX LISTAS */

.listasindex{
    color: white;
    list-style: none;
}



.logoseguridad{
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logoatencionpersonalizada{
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logovelocidadypuntualidad{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.logoexelencia{
    height: 40px;
    width: 40px;
}






