@import "maps";
@import "generales";
@import "mediaqueries";
@import "variables";
@import "mixins";

/* INDEX */
/* HEADER */
/* NAV */
header{
    nav .navbar-collapse .navbar-nav .nav-item .nav-link{
        color: white;
        font-size: 28px;
        margin: 10px;
        
    }
}

/* MAIN */
/* SECTION */
main{
    div p.textoempresa{
        color: $color-fontprincipal;
        margin-bottom: 15px;
        font-size: 20px;
    }
    .h1{
        color: $color-fontprincipal;
        margin-bottom: 15px;
    }
      /* SECTION 2 INDEX LISTAS */
    div{
        ul.listasindex{
            color: $color-fontprincipal;
            list-style: none;
        } 
        li{.logoseguridad{
            @include logosindex(40px,40px,10px,10px)

            }
            .logoatencionpersonalizada{
                @include logosindex(40px,40px,10px,10px)
                
            }
            .logovelocidadypuntualidad{
                @include logosindex(40px,40px,10px,10px)
            }
            .logoexelencia{
                height: 40px;
                width: 40px;
            }     
        }
    }
    }



/* FOOTER */

footer{
    height: 100%;
    background-color: black;
    div p.cfooter{
        /* TEXTO LOGO FOOTER */
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Satisfy', cursive;
        color: $color-fontprincipal;
        font-size: 35px;
        margin-top: 100px;
            }
            div .logosredes{
                margin-bottom: 40px;
             /* REFERENCIA PARA ICONOS */
            .logowpp{
                @include logo(55px,55px,10px )
            }
            .logoig{
                @include logo(55px,55px,10px )
            }
            .logolk{
                @include logo(55px,55px,10px )
            }
            .logoyt{
                @include logo(55px,55px,10px )
            }
            }
}



/* PAGINA SERVICIOS */

main {
    color: $color-fontprincipal;
    font-size: 18px;
    margin-top: 15px;
    /* SECTION SERVICIOS */
    .h1{
        color: $color-fontprincipal;
        margin-bottom: 15px;
    }
    div p.txtejecutivo{
        margin-top: 15px;
    }
    .h2{
        color: $color-fontprincipal;
        margin-bottom: 15px;
    }
    div p.txtsanitario{
        margin-top: 15px;
    }
    .h3{
        color: $color-fontprincipal;
        margin-bottom: 15px;
    }
    div p.textcarga{
        margin-top: 15px;
    }
    .h4{
        color: $color-fontprincipal;
        margin-bottom: 15px;
    }
    div p.txtincendio{
        margin-top: 15px;
    }
}


/* PAGINA CONTACTO */
main form div button {.botonform{
    margin-top: 25px;
    background-color: map-get($map: $boton, $key:boton-form );
}
}
section div iframe{.mapa{

    padding: 10px;
    margin: 10px;
    width: 350px;
    margin-left: 10px;

}
}
section{.informaciondecontactos{
    margin-top: 10px;
    color: $color-fontprincipal;
    padding: 10px;
    margin: 10px;
}
.infocontactos{
    color: $color-fontprincipal;
}

}



/* PAGINA NOSOTROS */

section{.imgnosotros{
    margin-bottom: 15px;
}

}

main div p{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 21px;
    .txtnosotros{
        margin-bottom: 16px;
    }
}

/* PAGINA NUESTRA FLOTA */

main div ul {
list-style: none;

    
}
li.especslj60{
    margin-top: 10px;
    margin-bottom: 10px;
    color: $color-fontprincipal;
    list-style: none;
    font-family: $font;
    .especsb200{
        color: white;
        font-family: $font;
        list-style: none;
        .especsb407{
            color: white;
            font-family: $font;
            list-style: none;
        }
    }
    .h1{
        color: $color-fontprincipal;
        font-family: $font;
    }
    .h2{
        color: $color-fontprincipal;
        font-family: $font;
    }
    .h3{
        color: $color-fontprincipal;
        font-family: $font;
    }

}







